<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Employee Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Employee Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Employee", "Index", "Employees", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Department", "Index", "Department", new { @class = "nav-link" })</li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @User.Identity.Name
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">My Account</a><br />
                                <a class="dropdown-item" href="#">Edit Profile</a><br />
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Logout", "Logout", "Home", new { @class = "nav-link" })
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("About", "About", "Home", new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Login", "Login", "Home", new { @class = "nav-link float-left" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div align="center">
            @RenderBody()
        </div>
        <hr />
        <footer style="float:right">
            <p>&copy; @DateTime.Now.Year - Employee Management System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
